START
PUSH 10
PUSHN 5
PUSH 0
PUSH 0
PUSH 0
l0c: NOP
PUSHG 6
PUSHI 5
PUSHI 1
SUB
ADD
NOT
JZ l.0f
PUSHGP
PUSHI 1
PADD
PUSHG 6
PUSHI 1
STOREN
PUSHG 6
PUSHI 1
ADD
STOREG 6
JUMP l0c
l0f: NOP
l1c: NOP
PUSHG 7
PUSHI 5
PUSHI 1
SUB
ADD
NOT
JZ l.1f
PUSHGP
PUSHI 1
PADD
PUSHG 6
PUSHGP
PUSHI 1
PADD
PUSHG 6
LOADN
PUSHG 0
MUL
STOREN
PUSHG 7
PUSHI 1
ADD
STOREG 7
JUMP l1c
l1f: NOP
l2c: NOP
PUSHG 7
PUSHI 5
PUSHI 1
SUB
ADD
NOT
JZ l.2f
PUSHGP
PUSHI 1
PADD
PUSHG 6
LOADN
WRITEI
PUSHS "\n"
WRITES
JUMP l2c
l2f: NOP
STOP
