START
PUSHN 5
PUSH 0
PUSH 13
l0c: NOP
PUSHG 5
PUSHI 5
INF
JZ l.0f
PUSHGP
PUSHI 0
PADD
PUSHG 5
READ
ATOI
STOREN
PUSHG 5
PUSHI 1
ADD
STOREG 5
JUMP l0c
l0f: NOP
l2c: NOP
PUSHG 5
PUSHI 5
INF
JZ l.2f
PUSHGP
PUSHI 0
PADD
PUSHG 5
LOADN
PUSHG 6
INF
JZ l.1
PUSHGP
PUSHI 0
PADD
PUSHG 5
PUSHG 5
PUSHI 1
SUB
STOREN
l.1: NOP
PUSHG 5
PUSHG 5
ADD
STOREG 5
JUMP l2c
l2f: NOP
STOP
