START
PUSHN 25
PUSH 0
PUSH 0
PUSH 0
l1c: NOP
PUSHG 25
PUSHI 5
INF
JZ l.1f
PUSHI 0
STOREG 26
l0c: NOP
PUSHG 26
PUSHI 5
INF
JZ l.0f
PUSHGP
PUSHI 0
PADD
PUSHG 25
PUSHI 5
MUL
PUSHG 26
ADD
READ
ATOI
STOREN
PUSHG 26
PUSHI 1
ADD
STOREG 26
JUMP l0c
l0f: NOP
PUSHG 25
PUSHI 1
ADD
STOREG 25
JUMP l1c
l1f: NOP
PUSHI 0
STOREG 25
l3c: NOP
PUSHG 25
PUSHI 5
INF
JZ l.3f
PUSHI 0
STOREG 26
PUSHI 0
STOREG 27
l2c: NOP
PUSHG 26
PUSHI 5
INF
JZ l.2f
PUSHG 27
PUSHGP
PUSHI 0
PADD
PUSHG 25
PUSHI 5
MUL
PUSHG 26
ADD
LOADN
ADD
STOREG 27
PUSHG 26
PUSHI 1
ADD
STOREG 26
JUMP l2c
l2f: NOP
PUSHG 27
WRITEI
PUSHS "\n"
WRITES
PUSHG 25
PUSHI 1
ADD
STOREG 25
JUMP l3c
l3f: NOP
STOP
