START
PUSH 0
PUSH 0
PUSH 10
PUSHN 25
l1c: NOP
PUSHG 0
PUSHI 4
ADD
NOT
JZ l.1f
l0c: NOP
PUSHG 1
PUSHI 4
ADD
NOT
JZ l.0f
PUSHGP
PUSHI 3
PADD
PUSHG 0
PUSHI 5
MUL
PUSHG 1
ADD
PUSHG 2
PUSHI 10
MUL
STOREN
PUSHG 1
PUSHI 1
ADD
STOREG 1
JUMP l0c
l0f: NOP
JUMP l1c
l1f: NOP
STOP
